#animazione a{
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  #animazione a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;

  }
  #animazione a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .table p{
    margin: 0%
  }
  .collapse {
    margin-left: 30%;
  }
  body{
    /*background-color: #212529 ;*/
    background-color: #212529;
    color: #ffffff;
  }
  .movi{
    margin-left: 20%;
    float: left;
    width: 30%;
    display: inline;
  }
  .descrizione_movi
  {
    float: right;
    width: 35%;
    margin-right: 20%;
    margin-top: 20%;
    
  }
  .calendario{
    clear: both;
  }
  .calendario_btn{
    background-color: white;
    color: black; border-bottom: 2px solid black;
    border-radius: 0%;
    border-top: 0cap;
    border-left: 0px;
    border-right: 0px;
  }

  .calendario_btn_sale{
    border: 1px solid black;
  }
  #carouselExampleCaptions {
    height: 1%; 
  }
  
  .card_stile1{
    max-width: 540px;
    width: 50%;float: left;
    border: none;
    background-color: #273C4D;
    color: white; padding: 10px;
  }
  .card_stile2{
    max-width: 540px;
    width: 50%;float: right;
    border: none;
    background-color: #273C4D;
    color: white; padding: 10px;

  }
  .card_stile0{
    max-width: 540px;
    width: 18rem;
    border: none;
    background-color: #273C4D;
    color: white; padding: 10px;

  }
  .card_stile0 img{
    width: "150px";
    height: "400px";
  }
  .img-stile{
    border: none;
    background-color: #273C4D;
    color: white; padding: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  #log{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
  }
  @media (max-width: 1440px) {
    #logo{
      width: 20%;
    }
    #logo img{
      width: 250px;
      height: 250px;
    }
    #animazione{
      margin-left: 0%;
    }
    #animazione li, #log li{
      font-size: 40px;
    }
    .navbar-nav{
      margin-top: 2%;
    }
    #log{
      display: flex;
      justify-content: flex-end;
      margin-right: 10%;
    }
    .navbar-collapse{
      width: 100%;
    }
    #imgs-inizio{
      display: none;
    }
    #programming{
      width: 30%;
      text-align: center;
    }
    #programming img{
      height: 70px;
      width: 70px;
    }
    #programming a{
      font-size: 60px;
    }
    #subp{
      width: 100%;
      margin-top: 2%;
    }
    #subp p{
      font-size: 45px;
    }
    #miglioriFilm{
      width: 50%;
      text-align: center;
      margin-top: 2%;
    }
    #miglioriFilm img{
      height: 70px;
      width: 70px;
    }
    #miglioriFilm a{
      font-size: 60px;
    }
    #subp2{
      width: 100%;
      margin-top: 2%;
    }
    #subp2 p{
      font-size: 45px;
    }
    .card_stile0{
      max-width: 100%;
      width: 100%;
      border: none;
      background-color: #273C4D;
      color: white; padding: 10px;
  
    }
    .card_stile0 img{
      width: 100%;
      height: 100%;
    }
    .card_stile1{
      margin-top: 2%;
      max-width: 100%;
      width: 100%;
      border: none;
      background-color: #273C4D;
      color: white; padding: 10px;
    }
    .card_stile2{
      margin-top: 2%;
      max-width: 100%;
      width: 100%;
      border: none;
      background-color: #273C4D;
      color: white; padding: 10px;
    }
    .card_stile1 img{
      width: 400px;
      height: 600px;
    }
    .card_stile2 img{
      width: 400px;
      height: 600px;
    }
    .card-title{
      font-size: 70px;
    }
    .card-title{
      font-size: 70px;
    }
    .card_stile1 p{
      font-size: 50px;
    }
    .card_stile2 p{
      font-size: 50px;
    }
    #bomboclat{
      display: none;
    }
    #carosello2{
      display: none;
    }
  }

