#testo{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#cinema_vecchio{
  display: block;
  margin: 0 auto;
  width: 90%;  
  height: 620px;  
}
/*
img {
  max-width: 100%; 
  height: auto; 
  display: block;
}*/

@media (max-width: 1440px) {
  #testo {
    padding: 15px;
    font-size: 1.1rem;
  }

  #cinema_vecchio {
    width: 95%;
  }
  #footer{
    bottom: 0;
  }
}
