{% extends "Index.html" %}   
  {% block title %}About Us - Cinemania{% endblock %}
  


  {% block content %}  
  <style>
    strong{
        margin-right: 1px;
    }
  </style>


  <div class="container mb-5">
    <div class="card movi container mb-5 " style="width: 18rem; border-radius: 0%;border: 0cap;background-color: #212529;">
      <img src="{{film_ricercato.get_poster_url()}}" class="card-img-top img-stile" alt="...">
      <div class="card-body">
        <div style="font-size: 13px;">
          <p class="card-text" >
            <p style="color: white;"><strong >Regia: </strong> {{film_ricercato.get_director()}}</p>
            <p style="color: white;"><strong>Genere:</strong> {{ ', '.join(film_ricercato.get_genre()) }}</p>
            <p style="color: white;"><strong>Anno:</strong> {{film_ricercato.get_year()}}</p>
            <p style="color: white;"><strong>Attori:</strong> {{ ', '.join(film_ricercato.get_actors()) }}</p>
            <p style="color: white;"><strong>Data di uscita:</strong> {{film_ricercato.get_release_date()}}</p>
          </p>

        </div>
      </div>
    </div>

    <div class="descrizione_movi">
        <h2 style="border-bottom: 10px rgb(229, 229, 229) solid;">{{film_ricercato.get_title()}}</h2>
        <p><span>{{film_ricercato.get_year()}} | {{ ', '.join(film_ricercato.get_genre()) }} | {{film_ricercato.get_duration_minutes()  }} min </span></p>
        <a href="../aquisto/login.html"><button type="button" class="btn btn-outline-danger">Aquista</button></a>

        <div class="container mb-1 mt-5">
          <div class="navbar-brand" >
            <img src="../img/icone/white-black/icons8-film-64.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
            <span style="font-size: 20px;">Trama</span>
          </div>
        </div>

        <p style="font-size: 13px; margin-left: 2%;">Adagio è un film di genere poliziesco, drammatico del 2023, diretto da Stefano Sollima, con Pierfrancesco Favino e Toni Servillo. Uscita al cinema il 14 dicembre 2023. Durata 127 minuti. Distribuito da Vision Distribution.</p>
        
        <a class="navbar-brand" href="#">
          <a href="https://www.youtube.com/watch?v=B2JKYmVnLOo&ab_channel=VisionDistribution"><img src="../img/icone/white-black/icons8-riproduci-50.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></a>
          <span style="font-size: 20px;">Guarda Trailer</span>
        </a>
      </div>

      



    </div>

    <div class="container calendario" >
      <div class="container mb-1 mt-5 mb-5">
        <div class="navbar-brand">
          <img src="../img/icone/white-black/icons8-calendario-48.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
          <span style="font-size: 20px;">Calendario</span>
        </div>
      </div>


      <div >
        <div class="dropdown d-inline">
          <button class="btn calendario_btn dropdown-toggle  mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Cremona
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cremona</a></li>
          </ul>
        </div>

        <table class="table mt-5" border="0" >
          <thead >
            <tr>
              <th scope="col" style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-calendario-48.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">Giovedi 31/01/2024</p>
              </th>
              <th scope="col" style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-calendario-48.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">Giovedi 31/01/2024</p>
              </th>
              <th scope="col" style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-calendario-48.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">Giovedi 31/01/2024</p>
              </th>
              <th scope="col" style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-calendario-48.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">Giovedi 31/01/2024</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row" style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-placeholder-64.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">Cremona Po</p>
              </td>
              <td style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-placeholder-64.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">parma cinema</p>
              </td>
              <td style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-placeholder-64.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">Cremona Po</p>
              </td>
              <td style=" background-color: #212529;color: #ffffff;">
                <img src="../img/icone/white-black/icons8-placeholder-64.png" alt="Logo" width="30" height="30" class="d-inline align-text-top">
                <p style="font-size: 15px;"class="d-inline">Parma cinema</p>
              </td>
            </tr>
            <tr >
              <th scope="row" style=" background-color: #212529;color: #ffffff;">
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
              </th>
              <td style=" background-color: #212529;color: #ffffff;">
                <button type="button" class="btn  btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
                
              </td>
              <td style=" background-color: #212529;color: #ffffff;">
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
              </td>
              <td style=" background-color: #212529;color: #ffffff;">
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" style=" background-color: #212529;color: #ffffff;">
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
              </th>
              <td colspan="2" style=" background-color: #212529;color: #ffffff;">
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
              </td>
              <td style=" background-color: #212529;color: #ffffff;">
                <button type="button" class="btn btn-danger calendario_btn_sale">
                  <p style="font-size: 12px;">SALA 7</p> 
                  <img src="../img/icone/ticket_3703006.png" alt="Logo" width="18" height="18" class="d-inline align-text-top">
                  <p style="font-size: 12px;"class="d-inline">Parma cinema</p>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
<div class="container consigliati">
    <div class="container mb-5 mt-5  " style="text-align: center;;">
      <div class="navbar-brand" href="">
        <img src="{{ url_for('static', filename='img/icone/icons8-stella.gif') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        <span style="font-size: 20px;">Consigliati</span>
      </div>
      

    </div>
</div>
<div id="carouselExampleCaptions" class="carousel slide" style="width: 100%; height: 10%;margin-left: 0%;margin-top: 0%;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/film/coming_soon_carosel/kunfupanda.webp') }}" class="d-block w-100" alt="Kung Fu Panda 4" width="100%" height="50%">
            <div class="carousel-caption d-none d-md-block">
                <h5>Kung Fu Panda 4</h5>
                <p>Il grande guerriero dragone vuole forse ritirarsi?</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/film/coming_soon_carosel/Copertina-spiderverse.jpg') }}" class="d-block w-100" alt="Spider-Man Across the Spider-Verse">
            <div class="carousel-caption d-none d-md-block">
                <h5>Spider-Man Across the Spider-Verse</h5>
                <p>Il ritorno delle avventure di Miles Morales nello Spider-Verse</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/film/coming_soon_carosel/tartarugheninja.webp') }}" class="d-block w-100" alt="Tartarughe Ninja">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tartarughe Ninja</h5>
                <p>Le formidabili avventure delle tartarughe ninja formato cartoon</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


{% endblock %}
