<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cinemania{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-carosel-interattivo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-carosel-3img.css') }}">
    
    
  </head>
  <body>
   
    <div class="navbar navbar-expand-sm bg-dark mb-5 border-bottom border-body"  data-bs-theme="dark" >
      <div class="container-fluid">
        <div class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="90" height="90" >
        </div>
        
        
        <div class="collapse navbar-collapse text-center" id="animazione">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="/">Film</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/story_cinema">Storia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/luogo_cinema">Luogo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    {% block content %}

    <nav class="container mb-5" style="margin-bottom: 10px;">
      <div class="row justify-content-center">
          <div class="col-md-4 ">
              <img src="../static/img/IMG-INIZIO1.jpg" alt="Immagine 1" class="img img-stile" width="400" height="250">
          </div>
          <div class="col-md-4 ">
              <img src="../static/img/IMG-INIZIO2.jpg" alt="Immagine 2" class="img img-stile" width="400" height="250">
          </div>
          <div class="col-md-4 ">
              <img src="../static/img/IMG-INIZIO3.jpg" alt="Immagine 3" class="img img-stile" width="400" height="250">
          </div>
      </div>
    </nav>
    <div >
        <div class=" mt-5">
            <div class="container mb-1">
              <a class="navbar-brand" href="#">
                <img src="../static/img/icone/white-black/movie-theater_11908347.png" alt="Logo" width="25" height="25" class="d-inline-block align-text-top">
                Programmazione
              </a>
            </div>
            <div style="margin-left: 9%;">
              <p class="font-monospace  ml-5">Questi sono i nostri film in sala</p>
            </div>

            <div id="carouselExample" class="carousel slide mb-5" >
              <div class="carousel-inner">
            
                <div class="carousel-item active">
                  <div class="cards-wrapper ">
                    <div class="card  h-100 card_stile0" style="width: 18rem;">
                      <form action="/films/edit" method="get">
                        <a href="/base_film"><img src="../static/img/film/Prendi_il_volo.jpg" class="card-img-top" alt="Prendi_il_volo" width="150px" height="400px"></a>
                      </form>
                      
                      
                      <div class="card-body" style="padding-bottom: 0%;">
                        <p class="card-text"><strong>PRENDI_IL_VOLO</strong><p></p>
                      </div>
                    </div>
            
                    <div class="card card_stile0" style="width: 18rem;">
                      
                        <a href="film_page/wish.html"><img src="../static/img/film/wish.jpeg" class="card-img-top" alt="wish" width="150px" height="400px"></a>
                      
                      <div class="card-body">
                        <p class="card-text"><strong>WISH</strong></p>
                      </div>
                    </div>
            
                    <div class="card card_stile0" style="width: 18rem;">
                      
                        <a href="film_page/adagio.html"><img src="../static/img/film/adagio.jpeg" class="card-img-top" alt="adagio" width="150px" height="400px"></a>
                      
                      <div class="card-body">
                        <p class="card-text"><strong>ADAGIO</strong></p>
                      </div>
                    </div>

                    <div class="card card_stile0" style="width: 18rem;">
                      
                      <a href="film_page/one_life.html"><img src="../static/img/film/one_life.jpg" class="card-img-top" alt="adagio" width="150px" height="400px"></a>
                    
                      <div class="card-body" >
                        <p class="card-text"><strong>ONE LIFE</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="carousel-item ">
                  <div class="cards-wrapper ">
                    <div class="card card_stile0" style="width: 18rem;">
                      
                        <a href="film_page/aquaman.html"><img src="../static/img/film/aquaman.jpg" class="card-img-top" alt="aquaman" width="150px" height="400px"></a>
                      
                      <div class="card-body">
                        <p class="card-text"><strong>AQUAMAN</strong></p>
                      </div>
                    </div>
            
                    <div class="card card_stile0" style="width: 18rem;">
                      
                        <a href="film_page/napolion.html"><img src="../static/img/film/napolion.jpg" class="card-img-top" alt="napolion" width="150px" height="400px"></a>
                      
                      <div class="card-body">
                        <p class="card-text"><strong>NAPOLION</strong></p>
                      </div>
                    </div>
            
                    <div class="card card_stile0" style="width: 18rem;">
                      
                        <a href="film_page/ferrari.html"><img src="../static/img/film/ferrari.jpg" class="card-img-top" alt="ferrari" width="150px" height="400px"></a>
                      
                      <div class="card-body">
                        <p class="card-text"><strong>FERRARI</strong></p>
                      </div>

                      
                    </div>
                    <div class="card card_stile0" style="width: 18rem; ">
                      
                      <a href="film_page/pio_e_amedeo.html"><img src="../static/img/film/pio_e_amedeo.jpg" class="card-img-top" alt="foglie_al_vento" width="150px" height="400px"></a>
                    
                    <div class="card-body" style="border: none;">
                      <p class="card-text"><strong>PIO E AMEDEO</strong></p>
                    </div>
                  </div>
                  </div>
                </div>
            
                <div class="carousel-item ">
                  <div class="cards-wrapper ">
                    <div class="card card_stile0" style="width: 18rem;">
                      
                        <a href="film_page/wonka.html"><img src="../static/img/film/wonka.jpg" class="card-img-top" alt="wonka" width="150px" height="400px"></a>
                      
                      <div class="card-body">
                        <p class="card-text"><strong>WONKA</strong></p>
                      </div>
                    </div>
            
                    <div class="card card_stile0" style="width: 18rem;">
                      
                        <a href="film_page/tutti_a_parte_mio_marito.html"><img src="../static/img/film/tutti_a_parte_mio_marito.jpeg" class="card-img-top" alt="tutti_a_parte_mio_marito" width="150px" height="400px"></a>
                      
                      <div class="card-body">
                        <p class="card-text"><strong>TUTTI_A_PARTE_MIO_MARITO</strong></p>
                      </div>
                    </div>
            
                    <div class="card card_stile0" style="width: 18rem; ">
                      
                        <a href="film_page/foglie_al_vento.html"><img src="../static/img/film/foglie_al_vento.jpeg" class="card-img-top" alt="foglie_al_vento" width="150px" height="400px"  ></a>
                      
                      <div class="card-body" style="border: none;">
                        <p class="card-text"><strong>FOGLIE_AL_VENTO</strong></p>
                      </div>
                    </div>

                    <div class="card card_stile0" style="width: 18rem; ">
                      
                      <a href="film_page/perfect_days.html"><img src="../static/img/film/Perfect_days.jpg" class="card-img-top" alt="foglie_al_vento" width="150px" height="400px"  ></a>
                    
                    <div class="card-body" style="border: none;">
                      <p class="card-text"><strong>PERFET DAYS</strong></p>
                    </div>
                  </div>
                  </div>
                </div>
            
              </div>
            
              
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="color: #000000; width: min-content;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="color: #000000;  width: min-content">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>


        <div class="container mb-1 mt-5">
          <a class="navbar-brand" href="#">
            <img src="../static/img/icone/white-black/movie-star_1456703.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Migliori film da quardare
          </a>
        </div>
        <div class="container " style="margin-left: 9%;">
          <p class="font-monospace  ml-5">Segli uno di questi film da goderti al nostro cinema</p>
        </div>

        <div class="container">
          <div class="card mb-3 card_stile1" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../static/img/film/best/kotfm_alternative_poster_jpg_960x0_crop_q85.webp" class="img-fluid rounded-start" alt="..." width="800%">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Killers of the Flower Moon</h5>
                  <p class="card-text"  style="font-size: 13px;">Killers of the Flower Moon è un film di genere Drammatico, Storico, Poliziesco, Giallo, Thriller, Western del 2023 diretto da Martin Scorsese con Leonardo DiCaprio e Robert De Niro. Distribuito in Italia da 01 Distribution. Paese di produzione: USA.</p>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 card_stile2">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../static/img/film/best/oppenheimer_jpg_320x0_crop_q85.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Oppenheimer</h5>
                  <p class="card-text"  style="font-size: 13px;">Oppenheimer è un film di genere Drammatico, Storico del 2023 diretto da Christopher Nolan con Cillian Murphy e Kenneth Branagh. Distribuito in Italia da Universal Pictures. Paese di produzione: USA, Regno Unito.</p>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 card_stile1" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../static/img/film/best/past_lives.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Past Lives</h5>
                  <p class="card-text"  style="font-size: 13px;">Past Lives è un film di genere Drammatico, Romantico del 2023 diretto da Celine Song con Greta Lee e Yoo Teo . Durata: 106 min. Distribuito in Italia da Lucky Red. Paese di produzione: USA, Corea del Sud.</p>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 card_stile2" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../static/img/film/best/santocielo_vert_def_jpg_320x0_crop_q85.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Santocielo</h5>
                  <p class="card-text" style="font-size: 13px;">Santocielo è un film di genere Commedia del 2023 diretto da Francesco Amato con Ficarra e Picone. Uscita al cinema: 14 Dicembre 2023. Durata: 120 min. Distribuito in Italia da Medusa. Paese di produzione: Italia.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
       
  
            
      </div>
    

      
     
    </div>
    <div class="container"    style="margin-top:40%;">
      <div class="container mb-1 mt-5">
        <a class="navbar-brand" href="#">
          <img src="../static/img/icone/white-black/coming-soon_5229373.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
          Prossimamente
        </a>
      </div>
      <div style="margin-left: 4%;">
        <p class="font-monospace  ml-5">I migliori film in uscita nel 2024</p>
      </div>
    </div>
    <div>
      <div class="contenitore_carosel ">
        <div style="width: 40%; margin-right: 30%;margin-top: 20%;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit provident quasi vitae aperiam. Vitae, voluptatibus at aliquid amet et accusantium, id saepe in similique sit tempora blanditiis excepturi dolore laudantium!</p>
        </div>
        <div class="containere barra">
          <div class="containere-carrouselo">
            <div class="carrouselo">
              <div class="carrouselo-item"></div>
              <div class="carrouselo-item"></div>
              <div class="carrouselo-item"></div>
              <div class="carrouselo-item"></div>
              <div class="carrouselo-item"></div>
              <div class="carrouselo-item"></div>
            </div>
          </div>  
        </div>
      </div>
    </div>
      
    

    
    {% endblock %}
  
    






    <hr>

    <div style="clear: both;">
      
      <div class="nav justify-content-center bg-dark pt-5">
        
        <img src="{{ url_for('static', filename='img/icone/cinema_1655698.png') }}" alt="cinema_logo" width="300" height="300" style="margin-right: 80px;">
        
        <table class="table table-dark" style="width:60%; float: right;">
          <thead>
            <tr>
              <td>Events and Festivals</td>  
              <td>EXPERIENCES</td>  
              <td>Code of Conduct</td>  
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td class="fs-10"> 
                <p>Screenings</p>
                <p>Events and Festivals</p>
                <p>Subscriptions and Memberships</p>
                <p>Rates</p>
                <p>Halls</p>
              </td>  
              <td>
                <p>Screenings</p>
                <p>Events and Festivals</p>
                <p>Subscriptions and Memberships</p>
                <p>Rates</p>
                <p>Halls</p>
              </td>  
              <td>
                <p>Screenings</p>
                <p>Events and Festivals</p>
                <p>Subscriptions and Memberships</p>
                <p>Rates</p>
                <p>Halls</p>
              </td>  
            </tr>
    
            <tr>
              <td colspan="2" align="end">
                Follow us on 
              </td>
              <td>
                <img src="{{ url_for('static', filename='img/social/FACEBOOK-ICON.png') }}" alt="Facebook" sizes="30" srcset="" width="30">
                <img src="{{ url_for('static', filename='img/social/instagram.png') }}" alt="Instagram" sizes="30" srcset="" width="30">
                <img src="{{ url_for('static', filename='img/social/twitter.png') }}" alt="Twitter" sizes="30" srcset="" width="30">
                <img src="{{ url_for('static', filename='img/social/WHATSAPP-ICON.png') }}" alt="WhatsApp" sizes="30" srcset="" width="30">

              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="navbar justify-content-center text-bg-dark p-3">
        <hr style="color: blue;">
        <h5 class="fw-semibold">©Copyright 2019 - Designed by Pro World Studio - Consortium of Casalma Cinema Owners - VAT 01390690194</h5>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="{{ url_for('static', filename='java/java-carosel-interattivo.js') }}"></script>
    
  

  </body>
</html>

