<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sing in page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-carosel-interattivo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splide.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-carosel-3img.css') }}">
  </head>
  <style>
    
    .input{
        width: 100%;
        height: 100%;
        
        border: none;
        outline: none;
       
    }
    .hr{
     
      top: 33.5%;
      
    }
    .i{
        position: absolute;
        right: 39%;
        top: 36.55%;
        transform: translateY(-50X);
        font-size: 20px;
    }

    .i2{
        position: absolute;
        right: 39%;
        top: 50%;
        transform: translateY(-50X);
        font-size: 20px;
    }
    .i3{
        position: absolute;
        right: 39%;
        top: 65%;
        transform: translateY(-50X);
        font-size: 20px;
    }

    .input{
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
      border-bottom: solid black 2px;
    }
    

  </style>
  <body>
    <div class="navbar navbar-expand-sm bg-dark mb-5 border-bottom border-body"  data-bs-theme="dark" >
        <div class="container-fluid">
          <div class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="90" height="90" >
          </div>
          
          
          <div class="collapse navbar-collapse text-center" id="animazione">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " href="../HOME.html">Film</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Storia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Luogo</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="container " style="width: 25%; border: 3px solid #040404 ; border-radius: 5px; background-color: #ffffff; padding-bottom: 1%;color: black;margin-bottom: 5%;">
        <form class="mt-2" action="login.html">
            <h2 style="text-align: center;">Sign in</h2>
            <div class="mb-3 ">
              
                <input type="text" class=" input mt-lg-5"  for="floatingInputInvalid" aria-describedby="emailHelp" placeholder="name">
                <span id="uno"></span>
                
                <i class='bx bxs-user i' style="color:black ;"></i>
              </div>
            <div class="mb-3 ">
              
              <input type="email" class=" input mt-lg-5"  for="floatingInputInvalid" aria-describedby="emailHelp" placeholder="email">
              <span id="cinque"></span>
              
              
              <i class='bx bxs-envelope i2' style="color: black;"></i>
            </div>
            <div class="mb-3">
                
                <input type="password"  class=" input mt-5" aria-describedby="passwordHelpBlock" placeholder="Password">
                <span></span>
                
                <!--<i class='bx bxs-lock-alt i3' style="color: black;"></i>-->
                
                
            </div>
            <div class="mb-3 form-check ">
                <input type="checkbox" class="form-check-input" id="exampleCheck1 importante" >
                <label class="form-check-label" for="exampleCheck1" style="font-size: 12px;">
                    Accetta Termini e Condizioni & Informativa Privacy
                </label>
            </div>
            <div class="mb-3 form-check ">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1" style="font-size: 12px;">
                    Accetta di ricevere articoli sul design che ti fanno risparmiare tempo e notifiche sulle ultime novità
                </label>
            </div>
            <div class="mb-3 form-check ">
              <input type="checkbox" class="form-check-input" id="exampleCheck1 ">
              <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Ricordami</label>
            </div>
            <a href="login.html"><button type="submit" class="btn btn-primary mb-3" style=" width: 90%;text-align: center; margin-left: 5%; border-radius: 20px;">Registration</button></a>
            <p class="d-inline " style="margin-left: 28%;">hai un account <a href="login.html" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="color: black;">Login</a></p>
          </form>

    </div>

    <div style="clear: both; margin-top: 20%;">
      <hr>
      <div class="nav justify-content-center bg-dark pt-5 " >

        <img src="../img/icone/cinema_1655698.png" alt="logo_cinema" width="300" height="300" style="margin-right: 80px;">


        <table class="table   table-dark"  style="width:60%; float: right;" >
          <thead>
            <tr>
              <td>Eventi Rasegne</td>  
              <td>ESPERIENZE</td>  
              <td>Codice di condotta</td>  
            </tr>
            
          </thead>
          

          <tbody>
            <tr>
              <td class="fs-10"> 
                <p>Proiezioni</p>
                <p>Eventi Rasegne</p>
                <p>Abbonamenti e tessere</p>
                <p>Tariffe</p>
                <p>Sale</p>
              </td>  
              <td>
                <p>Proiezioni</p>
                <p>Eventi Rasegne</p>
                <p>Abbonamenti e tessere</p>
                <p>Tariffe</p>
                <p>Sale</p>
              </td>  
              <td>
                <p>Proiezioni</p>
                <p>Eventi Rasegne</p>
                <p>Abbonamenti e tessere</p>
                <p>Tariffe</p>
                <p>Sale</p>
              </td>  
            </tr>

            <tr>
              
              <td colspan="2" align="end">
                Seguici su 
              </td>
              <td>
                <img src="../img/social/FACEBOOK-ICON.png" alt="" sizes="30" srcset="" width="30">
                <img src="../img/social/instagram.png" alt="" sizes="30" srcset="" width="30">
                <img src="../img/social/twitter.png" alt="" sizes="30" srcset="" width="30">
                <img src="../img/social/WHATSAPP-ICON.png" alt="" sizes="30" srcset="" width="30">
              </td>
            </tr>
            
            
          </tbody>
        </table>

        
      </div>
      <div class="navbar justify-content-center text-bg-dark p-3">
        <hr style="color: blue;">
        <h5 class="fw-semibold">©Copyright 2019 - Designed by Pro World Studio - Consorzio dei Proprietari Casalma cinema - P.IVA 01390690194</h5>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>


  <script>
    document.querySelector("form").addEventListener("submit", controlli);

    function controlli(e) {
        let nome = document.querySelector("input[type=text]").value;
        let msg1 = document.getElementById("uno");

        if (nome.trim().length < 3) {
            msg1.innerHTML = "Il nome non soddisfa i requisiti";
            e.preventDefault();
            return;
        } else {
            msg1.style.display = "none";
        }

        let email = document.querySelector("input[type=email]").value;
        let msg5 = document.getElementById("cinque");

        if (!email.endsWith("@gmail.com")) {
            msg5.innerHTML = "L'email deve contenere @gmail.com";
            e.preventDefault();
            return;
        } else {
            msg5.style.display = "none";
        }

        let accettaTermini = document.getElementById("importante");
        let msg6 = document.getElementById("cinque");
        if (accettaTermini.checked) {
            e.preventDefault();
            msg5.innerHTML = "accettare le condizioni";
            return;
        }
    }
</script>

</html>